<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/app.js"></script>
    <title>About</title>
    <link rel="icon" href="./img/weather.png">
</head>
<body>
    {{!-- <h1>{{title}}</h1> --}}
    <div class="main-content">
        {{>header}}
        <p>This is created by Rashiq . It uses data from mapbox and weatherapp</p>
    <img src="./img/background.jpg" class="potrait" alt="background" >
    </div>
    
    {{!-- <p>this page is from {{source}} and created by {{name}}</p> --}}
    {{>footer}}
</body>
</html>