<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- //<script src="../../public/js/weather.js"></script> --}}
    <title>Weather</title>
</head>
<body>
    {{!-- <p>Welcome to Local weather</p>
    <input type="text" name="Location" id="location">
    <input type="button" value="Search", id="search">
    <div id="weatherblock"> --}}
        <p>{{title}}</p>
    </div>

    
</body>
</html>